.App {
  text-align: center;
  background-color: white;
}


h1{
  color: white;
  width: 100%;
}

.Categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #0B3140;
  padding: 30px 15px 30px 15px;
  margin-bottom: 40px;
}

.title {
  margin: 5px;
  padding: 10px 5px 10px 5px;
  min-width: 150px;
  background-color: #2CC5FF;
  border-radius: 2px;
  transition: background-color 0.5s ease-in-out;
}

.title:hover {
  background-color: #2FFAFF
}

.selectedCat {
  font-weight: bolder;
  text-decoration: underline;
   background-color: #2FFAFF;
}

.productListContainer{
  text-align: left;
  margin: 10px 10px 10px 75px;
  line-height: 1.5em;
}

.SearchBox {
  margin: 20px 0px 40px 0px;
}

.selectedProduct {
  font-weight: bold;
}

.selectedProduct div{
  display: block;
  font-weight: normal;
  margin: 5px;
  font-size: 0.8rem;
}

.description{
  display:none;
}